body{
    background-color: olive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

#formulario, #divMensaje {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background-color: white;
    box-shadow: 2px 5px 8px black;
    flex-direction: column;
    padding: 10px;
}

.btn {
    cursor: pointer;
}
