body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: beige;
    flex-direction: column;
}

label {
    margin: 10px;
    font-weight: 600;
}

input {
    width: 180px;
    margin: 10px;
}

#boton {
    width: 187px;
}

#divMensaje{
    background-color: pink;
    padding: 30px;
    border-radius: 30px 45px;
}
#divMensaje:hover{
    background-color: rgb(214, 153, 164);
}

#divError{
    color: red;
    font-size: 12px;
}