body, ul {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(173, 173, 173);
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
}

footer {
  background-color: rgb(173, 173, 173);
  position: absolute;
    bottom: 0;
    width: 100%;
    height: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
  font-size: 25px;
  font-weight: 600;
  padding: 20px;
  margin: 100px;
  cursor: pointer;
}

header nav {
  font-size: 20px;
  font-weight: 600;
  margin: 100px;

}

ul{
  list-style: none;
}

header a {
  color: black;
  text-decoration: none;
}

.menu-principal {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu-principal > li {
  position: relative;
}

.contenido-desplegable {
  display: none;
  position: absolute;
  background-color: rgb(226, 224, 224);
  width: 200px;
  z-index: 1050;
  padding: 10px;
  border-radius: 10px;
}

.elemento-con-submenu:hover > .contenido-desplegable {
  display: block;
}


#wrapper{
  height: 80vh;
  display: flex;
  align-self: center;
  justify-content: center;
}

a {
  width: 50px;
}