body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

#divMain {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*esto arregló lo de q no se ppdia ver completa la info*/
    flex-direction: column;
    border-radius: 10px;
    width: 400px;
    height: 350px;
    box-shadow: 2px 2px 5px 10px rgb(68, 68, 68);
    overflow-y: auto;
}

h3 {
    margin-bottom: 10px;
}

a {
    margin: 5px;
}

#spanError {
    color: red;
    font-size: 13px;
    font-style: italic;
}

#dni {
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 13px;
}

.btn {
    position: relative;
    margin: 10px;
}

main, #main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    width: 400px;
    height: 350px;
    box-shadow: 2px 2px 5px 10px rgb(68, 68, 68);
    border: 1px solid black;
}

#link, #linkDesplegar{
    color: black;
}
#link:hover,
#linkDesplegar:hover{
    color: white;
    background-color: black;
}