
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
}

#divMain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    width: 250px;
    height: 300px;
    box-shadow: 2px 2px 5px 10px rgb(68, 68, 68);
}

h3{
    margin-bottom: 10px;
}

a{
    margin: 5px;
}

#spanError {
    color: red;
    font-size: 13px;
    font-style: italic;
}

#dni {
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 13px;
}

.btn{
    position: relative;
    margin: 10px;
}