
body {
    background-color: rgb(245, 245, 163);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 550px;
    width: 600px;
    padding: 10px;
    border-radius: 20px;
}

#cargarPersona {
    position: relative;
    left: 70px;
}

h1 {
    margin: 15px;
    text-align: center;
}

p {
    font-size: 20px;
    margin: 10px;
    font-weight: 600;
}

input {
    width: 200px;
    padding: 8px;
    margin: 10px;
    border: none;
}

input:hover {
    box-shadow: 1px 2px 3px 3px white;
}

.btn {
    background-color: rgba(15, 15, 236, 0.664);
    position: relative;
    top: 10px;
    left: 10px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 1px 2px 3px 3px rgba(15, 15, 236, 0.664);
}