*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background: rgb(199, 118, 129);
}


#main{
    background: rgb(240, 177, 185);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    width: 400px;
    height: 500px;
    box-shadow: 2px 2px 5px 10px rgb(117, 85, 90);
}

input{
    margin: 10px;
}

.form-control{
    width: 350px;
}