/* *{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
} */

body {
    background: beige;
    /* height: 90vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    border: 1px solid gray;
    box-shadow: 2px 5px 7px rgb(121, 119, 119);
    background: white;
    width: 350px;
    height: 300px;
    border-radius: 20px;
}

input{
    border-radius: 2px;
    padding: 5px;
    margin: 10px;
}
 
#patente{
    text-align: center;
}
#patente:hover{
    box-shadow: 2px 5px 7px rgb(121, 119, 119);
}

h3{
    font-size: 25px;
    margin-bottom: 20px;
}

.btn{
    background-color: rgb(172, 172, 255);
    cursor: pointer;
    position: relative;
    top: 40px;
}

#spanError{
    font-size: 13px;
    color: red;
    font-style: italic;
}

#link{
    background-color: rgb(172, 172, 255);
    cursor: pointer;
    position: relative;
    top: 40px;
    border-radius: 3px;
    padding: 5px;
}